# OS
.DS_Store
Thumbs.db

# Node / Nest
**/node_modules/
**/dist/
**/.nestjs/
**/*.log

# Env
**/.env
**/.env.*.local
**/.env.local

# Media / storage
**/media/
**/uploads/
**/projects/
**/*.mp4
**/*.mov
**/*.mxf
**/*.wav
**/*.mp3

# Python
**/__pycache__/
**/*.pyc
**/.venv/
**/venv/

# HuggingFace / caches
**/.cache/
**/huggingface/
**/hf_cache/

# IDE
.vscode/
.idea/
